html {
  background-color: #2a4b7c;
  font-size: 1.2em;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 80%;
}

li{
  background-color: #fdd08a;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 3px;
  width: 150px;
  max-width: 100%;
}

p{
  font-family: sans-serif;
  text-align: justify;
  line-height: 1.5;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.exo-100 {
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.mainTable{
  display: grid;
  grid-template-columns: 30% 70%;
  border: 1px solid black;
  padding-right: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.mainTable > :first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainTable > p {
  letter-spacing: 2px;
}

.other-table{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border: 1px solid;
  padding: 0 20px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

a{
  text-decoration: none;
  color: #7a5f9d;
}

/*Abaixo de 300px o grid vira um flex-box com direção vertical (coluna)*/
@media (max-width: 300px) {
  .mainTable{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
  }
  .other-table{
    display: flex;
    flex-direction: column;
  }
  img {
    max-width: 65%;
  }
}

